/* .el-carousel__item h3 {
  display: flex;
  color: #475669;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
} */
/* 主页css */
.el-carousel__item {
	position: relative;
}
.newscrl {
	height: auto;
	width: auto;
}
.newscrl .el-carousel__container{
		height: 95rem !important;
}
.el-carousel__item img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.el-carousel__item p {
	position: absolute;
	z-index: 1;
	color: white;
	font-family: "comic sans ms";
	font-size: 50px;
	bottom: 50px;
	left: 50px;
}
@media screen and (max-width:768px) {
	.newscrl {
		height: 30rem;
		width: 100vw;
	}
	.newscrl .el-carousel__container{
			height: 30rem !important;
	}
	.el-carousel__item img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.el-carousel__item p {
		position: absolute;
		z-index: 1;
		color: white;
		font-family: "comic sans ms";
		font-size: 2rem;
		bottom: 1.2rem;
		left: 1rem;
	}
	.mainfunction1 .el-carousel__item img{
		position: absolute;
		width: 100%;
		height: 80%;
	}
	.mainfunction1 .el-carousel__item p {
		position: absolute;
		z-index: 1;
		color: white;
		font-family: "comic sans ms";
		font-size: 2rem;
		bottom: 5rem;
		left: 1rem;
	}
}
.mainfunction1 {
	/* position: relative; */
	height: auto;
	width: 1900px;
	background: url(../assets/mainbackground.jpg) no-repeat fixed center;
	background-size: cover;
	/* opacity: 0.8; */
}
.labintroduce{
	/* position: absolute; */
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	/* flex-wrap: ; */
	height: auto;
	width: 100%;
	margin-top: 50px;
	/* z-index: -1; */
	/* top:0; */
	/* background-color: #42B983; */
	content: "";
	background-color: rgba(255,255,255,0.5);
	background-size: cover;
	
}

.labtarget{
	/* position: absolute; */
	/* top: 500px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 50px;
	height: auto;
	width: 100%;
	/* z-index: -1; */
	flex: 0 1 48%;
	background-color: rgba(255,255,255,0.5);
	content: "";
	/* background-color: #00CED1; */
	background-size: cover;
}
.right {
	/* background-color: #42B983; */
	height: 100%;
	width: 800px;
	display: inline-block;
	float: right;
	margin-right: 100px;
	font-size: 20px;
}
.left {
	/* text-indent: 2em; */
	height: 100%;
	width: 800px;
	font-size: 20px;
	/* color: #FFFFFF; */
	display: inline-block;
	float: left;
	margin-left: 100px;
}
.left p {
	text-indent: 2em;
}

.right p{
	white-space: normal;
	word-wrap: break-word;
	font-size: 13px;
}
.labtarget .left{
	margin: 0 auto;
}
@media screen and (max-width:768px) {
	.mainfunction1 {
		font-size: 1rem !important;
		height: auto;
		width: 100vw;
		display: flex;
		flex-direction: column;
	}
	.labintroduce, .labtarget{
		flex-direction: column;
		height: auto;
		width: 100vw;
		margin-top: 0;
		margin-bottom: 5rem;
	}
	
	.labintroduce,.labtarget h3{
		font-size: 1.5rem !important;
		margin-left: 0 !important;
	}
	.right h3{
		font-size: 1.5rem !important;
	}
	.right {
		margin-right: 0px;
		height: 400px;
		width: 100vw;
	}
	.right p{
		white-space: normal;
		word-wrap: break-word;
		font-size: 1rem !important;
	}
	.left {
		margin-left: 0;
		height: 400px;
		font-size: 1.2rem;
		width: 100vw;
	}
	
}
.studypicture{
	/* margin: 15px auto; */
	font-size: 20px;
	display: inline-block;
	height: 250x;
	width: 900px;
}
.studypicture img {
	margin: 15px;
	float: left;
	height: 250px;
	width: 400px;
}
.studypicture p{
	text-indent: 2em;
}
@media screen and (max-width:768px){
	.studypicture {
		font-size: 1rem;
		width: 100vw;
	}
	.studypicture img {
		margin: 15px;
		float: left;
		height: 180px;
		width: 48vw;
	}
}

.labnews {
	margin-top: 50px;
	height: 600px;
	width: 1900px;
	/* margin-bottom: 100px; */
}
.top{
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	height: 50px;
	width: 1900px;
}
.top h3{
	display: inline-block;
	width: 150px;
	float: left;
	margin-left: 300px;
}
.top button{
	display: inline-block;
	width: 100px;
	margin-right: 300px;
	float: right;
}
.top span:hover{
	cursor: pointer;
}
.labnewsleft{
	height: 500px;
	width: 500px;
	display: inline-block;
	float: left;
	margin-left: 100px;
	background-color: white;
}
@media screen and (max-width:768px) {
	.labnews{
		margin: 0;
	}
	.top{
		position: relative;
		vertical-align: middle;
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		height: 50px !important;
		line-height: 50px;
		margin: 0px;
		width: 100vw;
	}
	.top .el-button{
		/* line-height: 50px !important; */
		position: absolute;
		top: 10px;
		right:10px;
	}
	.top h3{
		display: inline-block;
		width: 150px;
		float: left;
		margin-left: 0;
	}
	.top button{
		display: inline-block;
		width: 100px;
		/* top: 15px !important; */
		margin-right: 0;
		float: right;
	}
	
}
.labnewsmid{
	height: 500px;
	width: 600px;
	display: inline-block;
	float: left;
	/* margin-right: 50px; */
	margin-left: 50px;
	background: url("https://www.bistu.edu.cn/images/j4.png") no-repeat center;
	background-size: 100% 100%;
	
}
.labnewsright{
	height:500px;
	width: 500px;
	display: inline-block;
	float: right;
	margin-right: 100px ;
	background-color: white;
}
.newsdate {
	position: relative;
	text-align: center;
	display: inline-block;
	float: left;
	width: 99px; 
	height: 70px; 
	border-right: gainsboro dashed 1px; 
	background-color: #FFF;
	
}
.newstitle {
	line-height: 25px;
	text-indent: 2em;
	font-weight: 700;
	 display: inline-block;
	 float: left;
	 color: black;
	 width: 400px; 
	 height: 70px; 
	 background-color: #FFF;
}
.labnews .el-carousel__item img{
	width: 100%;
	height: 350px;
	
}
.newsdate:hover{
	color: #C81623;
	cursor: pointer;
}
.newstitle:hover {
	color: #C81623;
	cursor: pointer;
}
.labnews .el-carousel__item img:hover{
	color: #C81623;
	cursor: pointer;
	transition: 1s;
	transform: scale(1.1);
	
}
.labnewsmid li {
	/* position: relative; */
	display: block;
	height: 120px;
	width: 500px;
	line-height: normal;
/* 	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2; */
	/* color: rgb(142, 156, 189); */
	/* border-bottom: #DCDCDC solid  1px; */
	margin-left: 0;
}
.labnewsmid li .listtitle{
	color: black;
	height: 40px;
	width: 500px;
	/* position: absolute; */
	font-weight: 700;
	font-size: 20px;
	/* left: 0; */
	border-bottom: #DCDCDC solid   1px;

}
.labnewsmid li .listcontent{
	/* position: absolute; */
	/* top: 50px; */
	width: 500px;
	height: 80px;
	font-size: 8px;
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	text-indent: 2em;
	color: rgb(142, 156, 189);

}
@media  screen and (max-width:768px) {
	.labnewsmid li .listcontent{
		height: 30px!important;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2!important;
		}
}
.listcontent:hover {
	cursor: pointer;
}

.labnewsright li {
	/* position: relative; */
	display: block;
	height: 120px;
	width: 500px;
	line-height: normal;
/* 	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2; */
	/* color: rgb(142, 156, 189); */
	/* border-bottom: #DCDCDC solid   1px; */
	margin-left: 0;
}
.labnewsright li .listtitle{
	color: black;
	height: 39px;
	width: 500px;
	/* position: absolute; */
	font-weight: 700;
	font-size: 20px;
	border-bottom: #DCDCDC solid   1px;
	/* left: 0; */

}
.labnewsright li:hover {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border: #DCDCDC solid 1px;
}
.labnewsmid li:hover {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	border: #DCDCDC solid 1px;
}
.labnewsright li .listcontent{
	/* position: absolute; */
	/* top: 50px; */
	width: 500px;
	height: 80px;
	font-size: 8px;
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	text-indent: 2em;
	color: rgb(142, 156, 189);

}
@media  screen and (max-width:768px) {
	.labnewsleft {
		display: none;
	}
	.labnewsright {
		display: none;
	}
	.labnews {
		width: 100vw;
		height: 600px;
	}
	.labnewsmid {
		margin: 0;
		height: 500px;
	}
	.labnewsmid li {
		/* position: relative; */
		display: block;
		height: 60px;
		width: 100vw;
		line-height: normal;
	/* 	overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2; */
		/* color: rgb(142, 156, 189); */
		/* border-bottom: #DCDCDC solid  1px; */
		margin-left: 0 !important;
	}
	.labnewsmid li .listtitle{
		color: black;
		height: 20px;
		width: 100%;
		/* position: absolute; */
		font-weight: 700;
		font-size: 1rem;
		/* left: 0; */
		border-bottom: #DCDCDC solid   1px;
	
	}
	.labnewsmid li .listcontent{
		/* position: absolute; */
		/* top: 50px; */
		width: 100%;
		height: 40px;
		font-size: 8px;
		/* white-space: nowrap; */
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		text-indent: 2em;
		color: rgb(142, 156, 189);
	
	}
}
/* .el-carousel__item {
	position: relative;
}
.el-carousel__item img{
	position: absolute;
	width: 100%;
	height: 100%;
} */